/* Main Stylesheet */


/* Typograhpy */

h1, h2, h3, h4, h5, h6 {
    font-family: 'Raleway', sans-serif;
    color: white;
}

p {
    font: 17px/35px 'Open Sans', sans-serif;
    color: #8c8c8c;
}

li {
    font: 17px/35px 'Open Sans', sans-serif;
    color: #8c8c8c;
}

.textwhite{
  color:white
}

/* Link Styling */
a {
    font-family: 'Open Sans', sans-serif;
    text-decoration: none;
    color: #8c8c8c;
}

a:hover {
    color: #8c8c8c;
    text-decoration: none;
}

a:active {
    color: #8c8c8c;
    text-decoration: none;
}

a:visited {
    /*color: #8c8c8c;*/
    text-decoration: none;
}

a:-webkit-any-link {
    text-decoration: none;
}

#phonelink{
  color:#335387;
}

/* End link styling */

.blocktitle {
    font-family: 'Raleway';
    font-size: 60px;
    color: #335387;
}


/* END TYPOGRAPHY */


/* Divider Styling */

.titleunderline_offset {
    width: 170px;
    height: 2px;
    background-color: #b7b7b7;
    margin: 25px 0 35px 0;
}

.titleunderline_centered {
    width: 170px;
    height: 2px;
    background-color: #b7b7b7;
    margin: 25px auto 35px auto;
}


/* End Divider Styling */


/* Header Styling */

.navbar {
    background-color: #ededed;
    border-color: transparent;
    margin-bottom:0px;
}

.header_style{
  padding: 6% 0px 6% 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@media (min-width: 767px){
  .header_style{
    height: 400px;
  }
}

.navbar-brand {
    height:105px;
}

.navbar-nav li a {
    margin: 15px 5px 0 5px;
}

@media (min-width:767px){
  .navbar-nav li a {
    margin-top: 27px;
  }
}

.navbar-default .navbar-nav li a {
    color: #335387;
    font-size: 18px;
    -webkit-transition: .5s;     transition: .5s;
}

.navbar-default .navbar-nav li a:hover, .navbar-default .navbar-nav>li>a:focus {
    background-color: #335387;
    color: white;
    border-radius:8px;
}

/* End Header Styling */

/* Welcome Slider */

.titleunderline_white {
    width: 170px;
    height: 2px;
    background-color: white;
    margin: 25px auto 35px auto;
}

@media (max-width:767px){
  .titleunderline_white{
    display:none;
  }
}


.parallaxrow{
  padding:4% 0px 4% 0px;
}

.topslider_bottom_border {
    height: 10px;
    width: 100%;
    margin-bottom:20px;
    background-color: #f8f9b1;
}

#welcometitle {
    font-size: 60px;
    margin: auto;
    color: white;
    font-weight: 20px;
    text-shadow: 2px 2px #777777;
}

#titletext {
  font: 25px Raleway, Sans-serif;
  text-align: center;
  color: white;
  margin: 0px 20px 50px 20px;
  line-height: 35px;
}

/* Buttons */

.sliderbuttons {
    color: white;
    border: 4px solid white;
    text-decoration: none;
    padding: 10px 30px 10px 30px;
    margin: 50px auto 50px auto;
    max-width:150px;
}

.sliderbuttons:hover {
    background-color: white;
    color: gray;
}


/* End buttons */


/* End Welcome Slider Styling */


/* Overview Section */

.overviewpic {
    margin-top: 13%;
    text-align: center;
}


/* End of Overview Section */


/* Struggle Slider */

.struggleslider {
    /*min-height: 500px;*/
    background: url("images/struggleslider2.png") no-repeat center;
    background-size: cover;
    padding: 90px 0 0 0;
    margin: 40px 0 0 0;
}

#struggletext {
    color: white;
    text-align: center;
    font-size: 16px;
    font-weight: bolder;
    margin: 0 10% 2% 10%;
}

#struggleheader {
    font-family: 'Raleway';
    font-size: 60px;
    text-align: center;
    color: white;
    margin: 0 15px 25px 15px;
}

#strugglebutton {
    margin: 50px auto 20px auto;
}


/* End of struggle slider */


/* Our Mission Section*/

.ourmissionunderline {
    width: 170px;
    height: 2px;
    background-color: #b7b7b7;
    margin: 25px auto 35px auto;
}


/* End of Mission Section */


/* Image Links */

#imagelinktext {
    color: white;
}

.imagelinks {
    margin: 0 auto 0 auto;
}

.imagelinkrow {
    margin: 3% 0 3% 0;
    padding: 6% 0px 3% 0;
    background-color: #335387;
}

/* Modal Styling */

#testimony-modal{
  text-align: center;
  padding: 100px auto 0px auto;
}

.modal-content{
  background-color: transparent;
  padding: 20px 20px 20px 20px;
  -webkit-box-shadow: 0 5px 15px rgba(0,0,0,0);
  -moz-box-shadow: 0 5px 15px rgba(0,0,0,0);
  -o-box-shadow: 0 5px 15px rgba(0,0,0,0);
  box-shadow: 0 5px 15px rgba(0,0,0,0);
  border-color: transparent;
}

.modal-dialog{
    width:100%;
}

.modal-header{
  border-bottom: none;

}

.close{
  opacity:1;
}

#testimony-modal .modal-content{
  background-color: #adadad;
}

#testimony-modal .modal-dialog{
  max-width:800px;
}

.modalimage{
  max-width: 100%;
  height: auto;
}
/* End of Modal Styling */



/* End of Image Links */


/* Form at the bottom of landing page */

.preformrow {
    margin: 20px 0 20px 0;
}

#findusheader {
    font-size: 40px;
    color: #335387;
}

.formunderline {
    width: 170px;
    height: 2px;
    background-color: #b7b7b7;
    margin: 25px auto 35px auto;
}

.col-flt-left {
    float: left;
    width: 50%;
}

.col-flt-right {
    float: right;
    width: 50%;
}

.maincontact {
    width: 100%;
    height: 35px;
    margin: 5px 10px 0 0;
    padding: 0px 10px 0 10px;
    border-style: solid;
    border-width: thin;
    border-color: #cccccc;
    border-radius: 5px;
}

.formmessage {
    height: 150px;
    margin: 5px 10px 20px 0;
    padding: 0 10px 115px 10px;
    color: #a5a5a5;
}

.btn-primary {
    background-color: #335387;
    margin: 0px 0px 15px 0px;
}


/* End form at the bottom of landing page */


/*This is the style sheet for the About Us page of The Jericho House */




/*variations for the headers*/

.header__text_style_center_blue {
    font-family: 'Raleway';
    color: #335387;
    text-align: center;
}

.header__text_style_center {
    font-family: 'Raleway';
    color: white;
    text-align: center;
}

.title_shadow {
    text-shadow: 2px 2px #606060;
}

.aboutheader__text_style_left {
    font-family: 'Raleway';
    color: #335387;
    text-align: left;
}

.aboutheader__text_style_right {
    font-family: 'Raleway';
    font-size: 45px;
    color: #335387;
    text-align: right;
}

.header__underline {
    height: 3px;
    width: 350px;
    margin: auto;
}

.header__underline_style {
    background-color: white;
    text-align: center;
    box-shadow: 2px 2px 2px #606060;
}


/* History Section */

.about__text {
    width: 100%;
    max-width: 1500px;
    margin: auto;
}

.aboutsection_spacing {
    margin: 0px auto 30px auto;
}


/* Vision Section */


/* End Vision Section */


/* Staff Section */

/*group picture*/
.staffgroup{
  background-image: url(images/staffpics/grouppic.png);
  width:100%;
  max-width: 1200px;
  margin: 0px auto 0px auto;
}

.ourstaff__title_div{
  background-color:#efefef;
  padding:2% 0px 2% 0px;
}

/*staff member pictures*/
.staffpicleft {
    margin: 30px auto 20px auto;
    width: 250px;
    border-width:10px;
    border-radius: 10px;
    float:left;
}

.staffpicright {
  margin: 30px auto 20px auto;
  width: 250px;
  border-width:10px;
  border-radius: 10px;
  float:right;
}

@media(min-width:399px){
  .staffpicright{
    margin:30px 30px 0px 30px;
  }
  .staffpicleft{
    margin:30px 30px 0px 30px;
  }
}

.staffunderline{
  position:absolute;
  height:2px;
  width:100%;
  background-color:#335387;
  z-index:-1;
  transform: translateY(-6px);
}

.staffname {
    font-size: 33px;
    color: #a5a5a5;
    margin:20px 0px 0px 0px;
    display:inline-block;
}

@media(min-width:534px){
  .staffname{
    font-size: 30px;
    margin:65px 0px 0px 0px;
    display: block;
  }
}

.stafftitle {
    color: #a5a5a5;
    display: inline-block;
}

@media(min-width:534px){
  .stafftitle{
    display :block;
    font-size: 18px;
  }
}

#staffcontent {
    font-size:15px;
    color: #a5a5a5;
    line-height: 25px;
}

@media(min-width:767px){
#staffcontent {
    font-size: 17px;
    line-height: 32px;
  }
}

.btn-more{
  background-color: #d3d3d3;
  font-style: italic;
  color:white;
  margin:auto;
  padding:2px 5px 2px 5px;
}

.btn-more:hover{
  color:#a5a5a5;
  background-color: white;
  border-color:#a5a5a5;
}

#brianbutton{
  margin-bottom:30px;
}

#brianless{
  margin-bottom:30px;
}



/* End Staff Section */


/* Our Program Page */

.ourprogram__logo_style {
    margin: 20px 0px 0px 0px;
}

.admissions__header {
    padding: 45px 20px 20px 20px;
}

.admissions__divider {
    height: 2px;
    background-color: #335387;
    padding: 0;
    margin: 0;
}

.program__requirements_text{
    padding: 45px 30px 30px 30px;
}

.title_div{
  background-color: #efefef;
  padding:1.5% 0px 1.5% 0px;
  margin-bottom: 20px;
}

.smallheader_style {
    color: #335387;
    font-size: 45px;
}

.smallheader_style_centered{
  text-align:center;
}

.program__aacc_words {
    padding: 6% 0px 0px 0px;
}


/* End our Program Page */


/* Industries Page Styling*/

.furniture_header{
  color:#335387;
}

.furniture_image{
  border-width: 5px;
  border-style:solid;
  border-radius: 25px;
  border-color: #adadad;
  transition: .5s;
  -webkit-transition: .5s;
  width:200px;
  margin:25px 0 0 0;
}

.furniture_image:hover {
  opacity: .8;
  width:210px;
}

.productsection{
  margin:15px 0 20px 0;
}
/* End Industries Page Styling */

/* Contact Page styling */

.contact_paragraph{
  margin-bottom: 30px;
}

/* End of Contact Page styling */

/* Footer */

.footer-bg {
    background-color: #335387;
    /*height: 100%;*/
}

.footer__text{
    font-size:12px;
    color:white;
}

footer a {
    color: white;
}

.fa-footer-a {
    padding: 10px;
}


footer a:hover {
    text-decoration: none;
    color: white;
}

.centered-footer {
    padding: 40px 0 5px 0;
    vertical-align: baseline;
    position: relative;
    text-align: center;
}

.iconlink{
  -webkit-transition: .5s;     transition: .5s;
}

.iconlink:hover{
  color:#819bc4;
}

}

.iconlink:visited {
    text-decoration: none;
    color: white;
}


/* End Footer Styling */


/* Media Querys */

@media (max-width: 1200px) {
  .staffblock{
    height:auto;
  }
}

@media (max-width: 993px) {
    .sliderbuttons_stack {
        margin-bottom: 50px;
    }
}

@media (max-width: 767px) {
    .blocktitle, #struggleheader, #welcometitle{
      font-size:30px;
      margin-bottom:20px;
    }
    p, #titletext, #struggletext{
      font-size:16px;
      line-height: 25px;
    }
    #titletext{
      background-color: rgba(0, 0, 0, 0.3);
      padding:10px;
      border-radius: 8px;
    }
    .overview_image{
      width:75%;

    }
    .navbar-brand{
      width:150px;
      height:60px;
    }

}
